<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathRacer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="center w-max">
        <h1>Math Racer</h1>

        <!-- Pills navs -->
        <ul class="nav nav-pills nav-justified mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link <% if(login) { %> active <% }%>" id="tab-login" data-mdb-pill-init
                    href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link <% if(!login) { %> active <% }%>" id="tab-register" data-mdb-pill-init
                    href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">Register</a>
            </li>
        </ul>


        <!-- Pills content -->
        <div class="tab-content">
            <div class="tab-pane fade  <% if(login) { %>  show active <% }%>" id="pills-login" role="tabpanel"
                aria-labelledby="tab-login" style="width: 300px;">
                <p class="text-warning" id="loginFailed" <% if(!loginFailed) { %>style="display: none;"<%}%>>Login
                        failed. Please try again.</p>
                <form action="login" , method="post" , id="form">
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="username" class="form-control" name="username" />
                        <label class="form-label" for="username">Username</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" name="password" />
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <!-- Submit button -->
                    <div class="row justify-content-center">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-block mb-4">Sign in</button>
                    </div>

                </form>
            </div>
            <div class="tab-pane fade <% if(!login) { %> show active <% }%>" id="pills-register" role="tabpanel"
                aria-labelledby="tab-register" style="width: 300px;">
                <form action="register" method="post">
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" name="registerUsername" />
                        <label class="form-label" for="registerUsername">Username</label>
                        <p class="text-warning" id="usernameTaken" <% if(!usernameTaken) { %>style="display: none;"<%}%>
                                >This username is taken.</p>
                    </div>


                    <!-- Email input -->
                    <!-- <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" />
                        <label class="form-label" for="registerEmail">Email</label>
                    </div> -->

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" name="registerPassword" />
                        <label class="form-label" for="registerPassword">Password</label>
                    </div>

                    <!-- Repeat Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="registerRepeatPassword" class="form-control"
                            name="registerRepeatPassword" />
                        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                    </div>

                    <% if(pwNoMatch) {%>
                        <p class="text-warning">Passwords do not match. Please try again.</p>
                        <% } %>
                            <!-- Submit button -->
                            <div class="row justify-content-center">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-block mb-3 ">Register Account</button>
                            </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        const triggerTabList = Array.from(document.querySelectorAll('#myTab a'))
        const usernameTaken = document.getElementById('usernameTaken');
        const loginFailed = document.getElementById('loginFailed');
        triggerTabList.forEach((triggerEl) => {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
                usernameTaken.style.display = 'none';
                loginFailed.style.display = 'none';
            })
        })
    </script>
</body>

</html>