<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathRacer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Log In</h1>
    <div class="center">
        <form action="main" id='form'>
            <div class="input-item">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <br>
            <div class="input-item">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <br>
            <button>Go</button>
        </form>

    </div>
</body>

</html>