<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathRacer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Math Racer</h1>
    <h2>Welcome, <%= username %>
    </h2>
    <div class="center">
        <form action="join match"><button type="button" class="btn btn-primary">Join Match</button></form>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.emit('username', "<%= username %>");
        socket.on('update live users', (users) => {
            const liveUsers = document.getElementById('liveUsers');
            liveUsers.innerHTML = "";
            for (let user of users) {
                const newLi = document.createElement('LI');
                newLi.innerText = user;
                liveUsers.appendChild(newLi);
            }
        });
    </script>
</body>

</html>