<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathRacer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Math Racer</h1>

    <div id="match">
        <div class="center">
            <h2 id="gameTitle">a vs. b</h2>
            <p id="time">120</p>
        </div>
    </div>
    <div id="gamePanel" class="row border boder-1 border-light">
        <div class="playerPanel col border-end border-1 border-light">
            <p>Player A</p>
            <p>Points: 35</p>
            <h2>4 + 2</h2>
        </div>

        <div class="playerPanel col border-start border-1 border-light">
            <p>Player B</p>
            <p>Points: 28</p>
            <h2>3 + 7<h2>
        </div>
    </div>


</body>

</html>