h1 {
    width: 100%;
    text-align: center
}
h2 {
    width: 100%;
    text-align: center;
}


.center {
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}

#time {
    font-size: larger;
}

@font-face {
    font-family: 'Anta';
    src: url('/fonts/Anta-Regular.ttf') format('truetype');
}

* {
    font-family: "Anta", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: medium;
}