@font-face {
    font-family: 'Anta';
    src: url('/fonts/Anta-Regular.ttf') format('truetype');
}

* {
    font-family: "Anta", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#time {
    font-size: larger;
    text-align: center;
}

#gamePanel {
    background-color: rgb(40, 40, 40);
    flex: 1;
    width: 75%;
    margin: auto;
    padding: 20px;
}

.playerPanel {
    text-align: center;
}

p {
    font-size: large;
}

#inputText {
    border: 0;
    box-shadow: 0;
    outline: none;
    padding:0;
    text-align: center;
}